.block {
  background: #cdcdcd;
  max-width: 50%;
  min-height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 12px;
  box-shadow: 6px 3px 3px grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.head {
  text-align: center;
  padding: 25px;
  font: 700 25px "Montserrat";
}

hr {
  border: solid 1px black;
  margin-bottom: 8px;
}

.inpDiv {
  margin-bottom: 8px;
  /* margin-left: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.inp {
  font: 400 14px "Montserrat";
  border-radius: 12px;
  padding-left: 15px;
  width: 80%;
  height: 35px;
}

.saveInp {
  height: 25px;
  width: 25px;
  background-color: #c8fdb1;
  color: #000;
}
